#!/bin/bash

function pmdcpuhex {

python3 "{{ ovs_dpdk_conf_dir }}"/CPUConvertor.py $(numactl -H | grep cpus | cut -d ":" -f 2 | awk -v cpu="{{ pmd_cpu_per_numa }}" ' { for (x=1; x<=cpu; x++) printf( "%s,", $x )}' | sed 's/.$//')

}

pmdcpuhex