#!/bin/bash

function lcorecpuhex {

python3 "{{ ovs_dpdk_conf_dir }}"/CPUConvertor.py $(numactl -H | grep cpus | cut -d ":" -f 2 | awk -v cpu="{{ (pmd_cpu_per_numa | int) +1 }}" '{ printf( "%s,", $cpu )}' | sed 's/.$//')

}

lcorecpuhex